.mainCard {
	margin: 0 auto;
	text-align: center;
}
.starButton {
	margin: 30px 0px;
	padding: 5px;
	height: 35px;
	width: 35px;
	color: orange;
	border-radius: 50px;
	background-color: rgba(128, 128, 128, 0.46);
}
